<header>
    <h1><%= title %> | Skill Trees: </h1>
    <nav>
        <a href="/electronics">electronics (68)</a> |
        <a href="/llm101">llm101 (23)</a> |
        <a href="/leaderboard">Leaderboard</a> |
        <a href="/about">About</a> |
        <a href="/users/logout">Logout</a> |
        <a href="/admin-dashboard">Admin Dashboard</a>
    </nav>
</header>