<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badges</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/badges.json"></script>
</head>
<body>
<h1>Manage Badges</h1>
<table id="leaderboard">
    <thead>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Range</th>
        <th>Min Bitpoints</th>
        <th>Max Bitpoints</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script src="/js/manageBadges.js"></script>
</body>
</html>