<!-- views/admin-dashboard.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<%- include('partials/header', { title: 'Welcome, admin!'}) %>

<div class="admin-dashboard">
    <h1>Manage Users</h1>
    <table id="leaderboard">
        <thead>
        <tr>
            <th>Username</th>
            <th>Admin</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
    <br>
    <h2>Change Password</h2>
    <div class="input-container">
        <label for="password">New Password:</label>
        <input type="text" id="password" name="password" value="<%= users.password %>" required disabled>
        <button type="submit" class="default-buttons" disabled>Change Password</button>
    </div>
    <script src="/js/manageUsers.js"></script>

</body>
</html>