<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/badges.json"></script>

    <script>

        const username = "<%= JSON.stringify(username) %>";
        const id = "<%= JSON.stringify(id) %>";
        console.log("user logged in frontend index:", username);
        console.log("user id in frontend index:", id);

    </script>


</head>
<body>

<%- include('partials/username-display', { title: 'Welcome ', id: id, username: username}) %>

<h1>Range Explanations</h1>
<table id="leaderboard">
    <thead>
    <tr>
        <th>Range</th>
        <th>Badge</th>
        <th>Required Bitpoints</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script src="/js/leaderBoard.js"></script>
</body>
</html>