body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.skill-tree {
    text-align: center;
    margin-bottom: 20px;
}

.skill-tree-box {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.description {
    text-align: center;
    font-size: 1em;
    margin: 20px 0;
    line-height: 1.5;
}

.color-picker {
    text-align: center;
    margin-bottom: 20px;
}

.color-picker .start-here {
    font-weight: bold;
    margin-top: 10px;
}

.custom-svg {
    margin-top: 20px;
    text-align: center;
}

.custom-svg label {
    display: block;
    margin-bottom: 10px;
}

.custom-svg input[type="text"] {
    width: 200px;
    padding: 5px;
    font-size: 1em;
}

.custom-svg button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.custom-svg button:hover {
    background-color: #0056b3;
}

.svg-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.svg-wrapper {
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: relative;
}

.svg-wrapper.hovered{

    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;

}

.icon-canvas {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.footer{
    background-color: #f4dc8b;
    padding: 10px;
    border-top: 2px solid black;
    text-align: center;
    position: fixed;
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    z-index:10;
}

.header{

    padding: 10px;
    text-align:left;
}


.hexagon {
    fill: white;
    stroke: black;
    stroke-width: 1px;
}

.red-circle {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    display: none; /* Hidden by default */
}

/*.selected .hexagon {
    fill: var(--selected-color, yellow);
}*/

@media print {
    .color-picker {
        display: none;
    }
    .custom-svg{
        display: none;
    }
    .print-button{
        display: none; 
    }
}

/* Footer styles */
footer {
    
    bottom: 0; /* Stick to the bottom of the viewport */
    width: 100%;
    
    text-align: center;
    background-color: #f0f0f0; /* Light background color */
    border-top: 1px solid #ccc; /* Border on top */
}

/* Estilos generales para la tabla */
#leaderboard {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 0 auto;
}

/* Estilos para las celdas y encabezados de la tabla */
#leaderboard th, #leaderboard td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

/* Color de fondo para el encabezado */
#leaderboard th {
    background-color: #c0c0c0;
    color: black;
    font-weight: bold;
}

/* Alternar el color de fondo para filas */
#leaderboard tr:nth-child(odd) {
    background-color: #e0e0e0;
}

#leaderboard td:nth-child(1) {
    text-align: left;
    width: 250px;
}
#leaderboard td:nth-child(2) {
    width: 200px;
}
#leaderboard td:nth-child(3) {
    width: 200px;
}