body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.skill-tree {
    text-align: center;
    margin-bottom: 20px;
}

.skill-tree-box {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.description {
    text-align: center;
    font-size: 1em;
    margin: 20px 0;
    line-height: 1.5;
}

.color-picker {
    text-align: center;
    margin-bottom: 20px;
}

.color-picker .start-here {
    font-weight: bold;
    margin-top: 10px;
}
.admin-dashboard {
    flex-direction: column; /* Coloca los elementos verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center;
    margin-top: 100px; /* Ajusta el valor según lo necesites */
}

.admin-dashboard h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}
/* Contenedor del botón */
.buttonAdd-container {
    text-align: right; /* Alinea los elementos hijos a la derecha */
    margin: 10px 0; /* Añade un margen para separar el botón */
}

.buttonAdmin-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Botón azul para "Add new skill" */
.default-buttons {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.default-buttons:hover {
    background-color: darkblue;
}

.delete-buttons{
    background-color: red;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.delete-buttons:hover {
    background-color: darkred;
}

.input-container {
    display: flex;          /* Flexbox para alinear los elementos en fila */
    align-items: center;    /* Alinea verticalmente los elementos */
    gap: 10px;              /* Espacio entre el label y el input */
}

/* Puedes personalizar el tamaño y apariencia del label */
.input-container label {
    margin: 0;              /* Elimina márgenes innecesarios */
    width: 120px;           /* Puedes ajustar el ancho del label */
}

/* Estilos para el input */
.input-container input {
    padding: 5px;           /* Espacio dentro del input */
    font-size: 16px;        /* Tamaño de fuente */
    width: 200px;           /* Ancho del input */
}

.custom-svg {
    margin-top: 20px;
    text-align: center;
}

.custom-svg label {
    display: block;
    margin-bottom: 10px;
}

.custom-svg input[type="text"] {
    width: 200px;
    padding: 5px;
    font-size: 1em;
}

.custom-svg button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.custom-svg button:hover {
    background-color: #0056b3;
}

.svg-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.svg-wrapper {
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: relative;
}

.svg-wrapper.hovered{

    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;

}

.icon-canvas {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.footer{
    background-color: #f4dc8b;
    padding: 10px;
    border-top: 2px solid black;
    text-align: center;
    position: fixed;
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    z-index:10;
}

.header{

    padding: 10px;
    text-align:left;
}


.hexagon {
    fill: white;
    stroke: black;
    stroke-width: 1px;
}

.hexagon-completed-skill {
    fill: limegreen;
    stroke: black;
    stroke-width: 1px;
}

.red-circle {
    position: absolute;
    top: -5px;
    right: 75px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    display: none; /* Hidden by default */
}

.green-circle {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    display: none; /* Hidden by default */
}

/*.selected .hexagon {
    fill: var(--selected-color, yellow);
}*/

@media print {
    .color-picker {
        display: none;
    }
    .custom-svg{
        display: none;
    }
    .print-button{
        display: none; 
    }
}

/* Footer styles */
footer {
    
    bottom: 0; /* Stick to the bottom of the viewport */
    width: 100%;
    
    text-align: center;
    background-color: #f0f0f0; /* Light background color */
    border-top: 1px solid #ccc; /* Border on top */
}

/* Estilos generales para la tabla */
#leaderboard {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 0 auto;
}

/* Estilos para las celdas y encabezados de la tabla */
#leaderboard th, #leaderboard td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

/* Color de fondo para el encabezado */
#leaderboard th {
    background-color: #c0c0c0;
    color: black;
    font-weight: bold;
}

/* Alternar el color de fondo para filas */
#leaderboard tr:nth-child(odd) {
    background-color: #e0e0e0;
}

.login-body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}

.login-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.login-container label {
    color: #474747;
    font-size: 12px;
    font-weight: bold;
    text-align: left; /* Asegura que el texto esté alineado a la izquierda */
    display: block;   /* Hace que el texto ocupe toda la línea encima del input */
    margin-bottom: 5px;
}

.login-container p {
    color: #000;
    font-size: 14px;
}
.login-container p a {
    color: #4285F4;
    text-decoration: none;
    font-weight: bold; /* Opcional: resaltar el enlace */
}

.login-container p a:hover {
    text-decoration: underline;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #357ae8;
}

.login-container a:hover {
    text-decoration: underline;
}

header {
    background-color: #f4dc8b; /* Fondo amarillo */
    padding: 10px 10px; /* Espaciado interno */
    display: flex;
    justify-content: flex-end; /* Alinear a la derecha */
    align-items: center; /* Centrar verticalmente */
    margin-bottom: 20px; /* Separación con el contenido siguiente */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para un efecto visual */
}

header nav {
    font-size: 12px; /* Tamaño de letra del menú */
}

header nav a {
    text-decoration: none; /* Sin subrayado */
    color: #333; /* Color del texto */
    margin-left: 2px; /* Espaciado entre enlaces */
}

header nav a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
    color: #000; /* Color más oscuro */
}

header h1 {
    margin: 0;
    font-size: 12px; /* Tamaño del título más pequeño */
    color: #333;
}

header nav a {
    color: #007BFF;
    text-decoration: none;
    margin-right: 2px;
}


textarea,
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.btn.save {
    background-color: #28a745;
    color: #fff;
}

.btn.cancel {
    background-color: #ffc107;
    color: #fff;
}

.btn.delete {
    background-color: #dc3545;
    color: #fff;
}

button:hover {
    opacity: 0.9;
}

.form-actions {
    display: flex;
    gap: 10px;
}

/* Container for the form */
.container-edit {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    max-width: 600px; /* Ancho máximo */
    width: 100%; /* Asegurar que no sobrepase el contenedor */
    box-sizing: border-box; /* Incluir padding dentro del ancho */
    margin: 0 auto; /* Centrar en la página */
}

.container-edit label{
    font-weight: bold;
}

.container-edit textarea{
    margin-bottom: 10px;
}

.container-edit input{
    margin-bottom: 10px;
}